.permission-panel h1 {
  position: relative;
  color: transparent !important;
}

.permission-panel > h1::after {
  position: absolute;
  left: 0px;
  content: "Your custom title";
  width: 100%;
  color: black !important;
  transform: translateY(50%);
}

.permission-panel h2 {
  position: relative;
  color: transparent !important;
}

.permission-panel > h2::after {
  position: absolute;
  left: 0px;
  content: "Your custom text";
  color: black !important;
  width: 100%;
}

.permission-panel .btn {
  background: #1144aa !important;
  color: transparent !important;
}

.permission-panel > .btn::after {
  position: absolute;
  left: 0px;
  color: #fff !important;
  content: "custom ok";
  width: 100%;
}

#overlay {
  background-color: #093997 !important;
}
