

html {
    overflow: hidden;
}

/****************
* PHOTO PREVIEW *
*****************/

#ox-photo-preview {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.ox-popup {
    width: min(calc(100vw - 60px), 340px);
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
}

#ox-photo-preview-image {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
}

.ox-button-strip {
    height: 62px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ox-button-strip button {
    border: none;
    background: none;
}


/***************
* PHOTO FOOTER *
****************/
#ox-photo {
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

#ox-photo-mark {
    margin-left: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: red;
    position: fixed;
    top: 0;
    margin-right: 0;
    display: flex;
    background: transparent;
    border: 20px solid rgba(0, 0, 0, 0.8);
    border-bottom: none;
    height: calc(100% - 140px);
}

#ox-photo-footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    height: 120px;
    bottom: 0;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    text-shadow: 0 2px 13px rgba(161, 104, 104, 0.5);
    align-items: center;
    justify-content: center;
}

#ox-take-photo-button {
    background: none;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0;
    padding: 0;

}

#ox-photo-footer-text {
    margin-bottom: 10px;
    color: #ffb73e;
    font-size: 12px;
}


@media only screen and (max-height: calc(125vw + 176px)) {
    #ox-photo-footer-text {
        margin-bottom: 5px;
    }

}



/**********
* TOP BAR *
***********/

#webar-topbar {
    display: none !important;
}
