.ox-json-viewer {
    background-color: #fff;
    border-radius: 5px;
    overflow: auto;
    max-height: 300px;
    margin: 0 5vw;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 90vw;
}

#ox-query-data {
    position: absolute;
    margin: 1vh 5vw;
    height: 20px;
    padding: 10px;
    width: calc(90vw - 20px);
    border-radius: 10px;
}